*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --primo-color:#0084FD;
    --secondo-color:#B5DDFF;
    --terzo-color:#9792E4;
    --text-color:#ACACAC;
    --nav-color:#FBFAFE;
    --debug-color:#0ac138;
    
}



.debug .box{
    height: 80px;
    padding: 20px;
    border: 2px dotted black;
  
}

 

/* fine Regole debug*/


/*************Regole Comuni*****************/

.container{
  max-width: 768px;
  margin: auto;
}

.flex{
 display: flex;
}

.space-between{
 justify-content: space-between;
}

.align-center{
    align-items: center;
}

/*padding sulle assi delle x*/
.px-2{
    padding: 0 2rem;
}







/******************Fine regole comuni*******************/


/*   inzio header  */

header{
    width: 100%;
    background-color: var(--primo-color);
    margin-bottom: 2rem;
}

/*   fine header  */



/*inzio intro*/

#intro .card{
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 10px;

}

#intro .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;

}



/*fine intro*/

/*************Inizio planning*/

#planning{
    background-color: var(--terzo-color);
    padding-top: 6rem ;
    padding-bottom: 4rem;

}

#planning .colum{
   margin: 2rem;
}

#planning img{
 width: 100%;
}    
#planning .container:last-child{
 background-color: #FBFAFE;
 border-radius: 40px;

}












/*fine planning*/

/********fine testim*******/

#testimonial .card{
    background-color:var(--terzo-color) ;
    padding: 2rem;
    margin-bottom: 2rem;
}

#testimonial .card-imag{
    margin: 1rem;


}

/*********fine testimonial**********/

/*********fine Benefit**********/

#Benefit .card{
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 10px;

}

#Benefit .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;

}
/*********fine Benefit**********/

/*********Inizio Abuot US**********/
  
#About-Us{
    background-color: var(--terzo-color);
    padding-top: 6rem ;
    padding-bottom: 4rem;

}


#About-Us .colum{
   margin: 2rem;
   

}









/*********Inizio Abuot US**********/



/*******Media Query**********/


/*tablet breckpoint*/

@media screen and (min-width:768px) {
    .container {
      max-width: 768px;
   }
    #intro .cards{
        display: flex;
        flex-wrap: wrap;
       
        
    }

    #intro .card{
        width: calc(33.333% - 1.5rem);
        background-color: var(--debug-color);
        
    }

    #intro .card:first-child{
        width: calc(66.666% - 1.5rem);
    }

    #testimonial .card {
        display: flex;
    }
    #testimonial .card-text {
          flex-grow: 1;
    }

    #testimonial .card-imag {
        flex-shrink: 0;
        margin: 0 4rem 0 0;
  }

    #Benefit .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #Benefit .card{
       width: calc(50% - 1.5rem); 
    }

    #About-Us .colums{
        display: flex;
        align-items: flex-start;

    }  
    #About-Us .colum{
        width: calc(50% - 4rem);
    }





}
/* PC/Descktop breckpoint */

@media screen and (min-width:992px) {
    .container {
        max-width: 992px;
    }
    #intro .card:first-child{
        display: flex;
    }
    #intro .card:first-child .box{
        width: 50%;

        
    } 
    #planning .colums{
        display: flex;
        align-items: flex-end;

    }  
    #planning .colum{
        width: calc(50% - 4rem);
    }


    #Benefit .card{
        width: calc(33% - 1.5rem); 
     }

}


/* ExtraLarge breckpoint*/

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
       
    }
    
}